Contest1/.idea/
Contest1/cmake-build-debug/

Contest2/.idea/
Contest2/cmake-build-debug/

Contest3/.idea/
Contest3/cmake-build-debug/

Contest4/.idea/
Contest4/cmake-build-debug/

Contest5/.idea/
Contest5/cmake-build-debug/

Contest6/.idea/
Contest6/cmake-build-debug/

Contest7/.idea/
Contest7/cmake-build-debug/

Contest8/.idea/
Contest8/cmake-build-debug/

AdditionM3/.idea/
AdditionM3/cmake-build-debug/
